body {
    background-color: rgb(129, 129, 129);
}

#info-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
    gap:10px;
    margin: 0px 10px;
}

#info-container button,p{
    width: auto;
    height: auto;
}

.text-info {
    color:rgb(245, 245, 245);
}

#board-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

td {
    background-color: rgb(255, 255, 255);
    border:1px solid #ccc7c7;
    width: 10px;
    height: 10px;
    user-select: none;
}

#board-container td.alive {
    background-color: rgb(71, 71, 71);
}

@media (max-width:520px){
    td {
        width: 7px;
        height: 7px;
    }
}
